* {
    padding: 0;
    margin: 0;
}

#container {

    width: 100%;

  
    section {

        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (max-width: $md) {
            display: flex;
            flex-direction: column-reverse;
            width: 94%;

        }

        .main_article {


            h2 {
                margin: 20px 0;
            }

            .article_content {
                width: 56%;

                @media (max-width: $md) {
                    width: 95%;
                }

                p {
                    margin-bottom: 20px;
                    line-height: 1.6;
                }
            }
        }

        .aside_block {

            width: 60%;

            @media (max-width: $md) {
                width: 90%;
            }

            h2 {
                margin: 20px 0;
            }

            p {
                line-height: 1.6;
                width: 95%;
            }

            .aside_content {
                
                @media (max-width: $md) {
                    width: 90%;
                }
                
                ul {

                }
            }

            .aside_list {
                /*position: relative;*/
                left: 5px;

                li {
                    display: inline-block;
                    display: block;
                    list-style-type: none;
                    margin: 10px 0;

                    a {
                        color: $col-tertiary-anchor;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

        }

        //page-one.html
        .page-one {

            content: "";
        }

        //page-two.html
        .page-two {

            content:"";
        }


    }
}
    