* {
    padding: 0;
    margin: 0;
}

#container {

    width: 100%;

    section {

        padding: 10px;
        display: grid;
        grid-template-columns: 3fr 1fr;

        @media (max-width: $md) {
            display: flex;
            flex-direction: column-reverse;
            width: 94%;

            display: block;
            width: 95%;
            margin: 0 auto;

        }

        .main_article {

            /* border: solid black 2px; */
            width: 65%;
            width: 95%;
            background: $bg-secondary;
            border: solid black 1px;
            padding: 10px;
            border-radius: 10px;

            h2 {
                margin: 20px 0;
            }

            .article_content {
                
                @media (max-width: $md) {
                    width: 95%;
                }

                p {
                    margin-bottom: 20px;
                    line-height: 1.6;

                    em, i {
                        color: orange;
                    }

                    strong, b {
                        color: orange;
                    }
                }

                ul {

                    margin: 10px 0;

                    li {

                        position: relative;
                        left: 10px;
                        /* display: inline-block; */
                        display: block;
                        margin: 10px 0;

                        a {

                            color: red;
                        }

                    }

                }

                h3, h4, h5, h6 {

                }
            }
        }

        .aside_block {

            background: $bg-secondary;
            border: solid black 1px;
            width: 80%;
            padding: 10px;
            border-radius: 10px;


            @media (max-width: $md) {
                width: 90%;
            }

            h2 {
                margin: 20px 0;
            }

            p {
                line-height: 1.6;
                width: 95%;
            }

            .aside_content {
                
                @media (max-width: $md) {
                    width: 90%;
                }
                
                ul {

                }
            }

            .aside_list {
                /*position: relative;*/
                left: 5px;

                li {
                    display: inline-block;
                    display: block;
                    list-style-type: none;
                    margin: 10px 0;

                    a {
                        color: $col-tertiary-anchor;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

        }

        //page-one.html
        .page-one {

            content: "";
        }

        //page-two.html
        .page-two {

            content:"";
        }


    }
}
    