/**************
Last Update: 06/09/2024 - 11:49
**************/
body {
  background: #3939f7;
  font-family: arial;
}

.header_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: black;
  border-bottom: white 3px solid;
}
@media (max-width: 980px) {
  .header_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 560px) {
  .header_container {
    grid-template-columns: 215px 0fr 1fr;
  }
}
.header_container img#main_logo {
  margin: 5px;
  /* width: 30%; */
  width: 110px;
}
@media (max-width: 680px) {
  .header_container img#main_logo {
    width: 40%;
  }
}
@media (max-width: 560px) {
  .header_container img#main_logo {
    width: 50%;
  }
}
.header_container div.title {
  text-align: left;
  width: 65%;
}
@media (max-width: 980px) {
  .header_container div.title {
    width: 100%;
  }
}
.header_container div.title h1 {
  text-align: center;
  margin-top: 5px;
  font-size: 26pt;
  color: white;
  font-weight: normal;
}
@media (max-width: 980px) {
  .header_container div.title h1 {
    font-size: 18pt;
  }
}
@media (max-width: 680px) {
  .header_container div.title h1 {
    font-weight: 15pt;
  }
}
.header_container div.title h1 #byjgdm {
  color: orange;
  font-size: 12px;
  position: relative;
  bottom: 18px;
  font-weight: bold;
}
@media (max-width: 980px) {
  .header_container div.title h1 #byjgdm {
    bottom: 12px;
  }
}
.header_container .ham {
  display: none;
  color: white;
  transition: transform 0.1s, color 0.2s;
  transform-origin: center;
}
.header_container .ham:hover {
  transform: scale(1);
  color: #fcfc64;
}
@media (max-width: 980px) {
  .header_container .ham {
    cursor: pointer;
    display: block;
    margin: 5px;
    font-size: 25pt;
    text-align: right;
  }
}
@media (max-width: 680px) {
  .header_container .ham {
    text-align: right;
  }
}
.header_container #nav_container .main_menu {
  margin-top: 5px;
}
@media (max-width: 980px) {
  .header_container #nav_container .main_menu {
    margin-top: 0px;
    width: 220px;
  }
}
@media (max-width: 980px) {
  .header_container #nav_container ul {
    background: #2d2d2d;
    width: 320px;
    position: absolute;
    display: block;
    display: none;
    top: 0;
    left: 0;
    height: 100vh;
    margin-left: 0;
    border-right: 3px solid white;
  }
}
.header_container #nav_container ul li {
  display: inline-block;
}
@media (max-width: 980px) {
  .header_container #nav_container ul li {
    left: 0;
    display: block;
    border-bottom: 2 grey solid;
  }
}
.header_container #nav_container ul li a.menu_link {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  transition: color 0.4s;
}
.header_container #nav_container ul li a.menu_link:hover {
  color: hsl(50, 87%, 69%);
}
@media (max-width: 980px) {
  .header_container #nav_container ul li a.menu_link {
    margin-bottom: 30px;
    margin-bottom: 30px;
    display: block;
    top: 20px;
    position: relative;
  }
}

.nav_container .main_menu li {
  display: inline-block;
}
.nav_container .main_menu li a.menu_link {
  color: white;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

#container {
  width: 100%;
}
#container section {
  padding: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
@media (max-width: 980px) {
  #container section {
    display: flex;
    flex-direction: column-reverse;
    width: 94%;
    display: block;
    width: 95%;
    margin: 0 auto;
  }
}
#container section .main_article {
  /* border: solid black 2px; */
  width: 65%;
  width: 95%;
  background: #559cff;
  border: solid black 1px;
  padding: 10px;
  border-radius: 10px;
}
#container section .main_article h2 {
  margin: 20px 0;
}
@media (max-width: 980px) {
  #container section .main_article .article_content {
    width: 95%;
  }
}
#container section .main_article .article_content p {
  margin-bottom: 20px;
  line-height: 1.6;
}
#container section .main_article .article_content p em, #container section .main_article .article_content p i {
  color: orange;
}
#container section .main_article .article_content p strong, #container section .main_article .article_content p b {
  color: orange;
}
#container section .main_article .article_content ul {
  margin: 10px 0;
}
#container section .main_article .article_content ul li {
  position: relative;
  left: 10px;
  /* display: inline-block; */
  display: block;
  margin: 10px 0;
}
#container section .main_article .article_content ul li a {
  color: red;
}
#container section .aside_block {
  background: #559cff;
  border: solid black 1px;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 980px) {
  #container section .aside_block {
    width: 90%;
  }
}
#container section .aside_block h2 {
  margin: 20px 0;
}
#container section .aside_block p {
  line-height: 1.6;
  width: 95%;
}
@media (max-width: 980px) {
  #container section .aside_block .aside_content {
    width: 90%;
  }
}
#container section .aside_block .aside_list {
  /*position: relative;*/
  left: 5px;
}
#container section .aside_block .aside_list li {
  display: inline-block;
  display: block;
  list-style-type: none;
  margin: 10px 0;
}
#container section .aside_block .aside_list li a {
  color: red;
}
#container section .aside_block .aside_list li a:hover {
  text-decoration: none;
}
#container section .page-one {
  content: "";
}
#container section .page-two {
  content: "";
}

footer {
  width: 100%;
}
footer p {
  text-align: center;
  color: white;
}
footer p a {
  /* color: white; */
}

/*# sourceMappingURL=style.css.map */
