

$bg-secondary: #559cff;
$bg-body: #3939f7;

$bg-header: black;
$bg-mob-menu: #2d2d2d;



$col-primary: white;
$col-secondary: white;
$col-tertiary: red;

$col-primary-anchor: white;
$col-tertiary-anchor: red;

$col-heading-1: $col-secondary;