
    .nav_container {

        .main_menu {

            li {
                display: inline-block;

                a.menu_link {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }