* {
    padding: 0;
    margin: 0;
}

body {
    background: darkgray;
    font-family: arial;
}

#container {

    width: 100%;

    .header_container {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: black;
        border-bottom: white 3px solid;

        @media(max-width: $md) {
            grid-template-columns: 1fr 1fr 0fr;
        }
        
        @media(max-width: $xs) {
            grid-template-columns: 215px 0fr 1fr;
        }

        img#main_logo {
            margin: 8px;

            width: 30%;

            @media (max-width: $sm){
                width: 95%;
            }
            
            @media (max-width: $xs){
                width: 50%;
            }
        }

        h1 {
            text-align: center;
            margin-top: 5px;
            color: white;
            @media (max-width: $md) {
                font-size: 15pt;
            }
        }
         
        .ham {
            display: none;
            color: white;
            transition: transform .1s;

            &:hover {
                transform: scale(1.03);
            }
            
            @media (max-width: $md) {
                cursor: pointer;
                display: block;
                margin: 10px;
                font-size: 25pt;
            }

            
            @media(max-width: $xs) {
                text-align: right;
            }
        }

        #nav_container {

           

            .main_menu {
                margin-top: 5px;

                @media(max-width: $md) {
                    margin-top: 0px;
                    width: 220px;

                }
            }

            ul {

                
                @media(max-width: $md) {
                    
                    background: #2d2d2d;
                    width: 320px;
                    position: absolute;
                    display: block;
                    display: none;
                    top: 0;
                    left: 0;
                    height: 100vh;
                    margin-left: 0;
                    border-right: 3px solid white;

                }

                li {

                    display: inline-block;

                    @media(max-width: $md) {
                        left: 0;
                        display: block;
                        border-bottom: 2 grey solid;

                    }

                }

                li a.menu_link {
                    color: white;
                    text-decoration: none;
                    margin-left: 10px;
                    transition: color .4s;

                    &:hover {
                        color: #ff5100;
                    }

                    
                    @media(max-width: $md) {
                        margin-bottom: 30px;
                        margin-bottom: 30px;
                        display: block;
                        top: 20px;
                        position: relative;
                    }
                }
            }
        }

    }

    section {

        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (max-width: $md) {
            display: flex;
            flex-direction: column-reverse;
            width: 94%;

        }

        .main_article {


            h2 {
                margin: 20px 0;
            }

            .article_content {
                width: 56%;

                @media (max-width: $md) {
                    width: 95%;
                }

                p {
                    margin-bottom: 20px;
                    line-height: 1.6;
                }
            }
        }

        .aside_block {

            width: 60%;

            @media (max-width: $md) {
                width: 90%;
            }

            h2 {
                margin: 20px 0;
            }

            p {
                line-height: 1.6;
                width: 95%;
            }

            .aside_content {
                
                @media (max-width: $md) {
                    width: 90%;
                }
                
                ul {

                }
            }

            .aside_list {
                /*position: relative;*/
                left: 5px;

                li {
                    display: inline-block;
                    display: block;
                    list-style-type: none;
                    margin: 10px 0;

                    a {
                        color: red;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

        }
    }
}
    
    
footer {
    
    width: 100%;

    p {
        text-align: center;
    }
}