* {
    padding: 0;
    margin: 0;
}

body {
    background: darkgray;
    font-family: arial;
}

#container {

    width: 100%;

    .header_container {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        img#main_logo {
            margin: 8px;
        }

        h1 {
            text-align: center;
        }
         
        .ham {
            display: none;
            
            @media (max-width: $md) {
                cursor: pointer;
                display: block;
                margin: 10px;
                font-size: 13pt;
            }
        }

        #nav_container {

           

            .main_menu {

            }

            ul {

                
                @media(max-width: $md) {
                    
                    background: black;
                    width: 320px;
                    position: absolute;
                    display: block;
                    display: none;
                    top: 0;
                    left: 0;
                    height: 100vh;
                    margin-left: 0;
                    border-right: 3px solid white;

                }

                li {

                    display: inline-block;
                    @media(max-width: $md) {
                        left: 0;
                        display: block;
                    }

                }

                li a.menu_link {
                    color: white;
                    text-decoration: none;
                    margin-left: 10px;

                    
                    @media(max-width: $md) {
                        margin-bottom: 30px;
                        margin-bottom: 30px;
                        display: block;
                        top: 20px;
                        position: relative;
                    }
                }
            }
        }

    }

    section {

        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .main_article {


            h2 {
                margin-top: 10px;
            }

            .article_content {
                width: 56%;

                p {
                    margin-bottom: 20px;
                }
            }
        }

        .aside_block {

            width: 60%;

            h2 {
                margin-top: 10px;
            }

            .aside_content {
                
                ul {

                }
            }

        }
    }
}
    
    
footer {
    
    width: 100%;

    p {
        text-align: center;
    }
}